*,
*::before,
*::after{
    box-sizing: border-box;
}

/* *{
    outline: 2px solid red;
} */

*{
    font-family: "Montserrat","sans-serif";
}

img{
    max-width: 100%;
}

body{
    margin: 0px;
}

:focus{
    outline: none;
}

.third{
    background-image: url(../images/bggradientflipped.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0;
    width: 100vw;
    height: 100%;
    display: flex;
    flex: auto;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.third h3{
    font-size: 3.5rem;
    font-weight: 500;
    margin-top: 6rem;
}

.cards{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10rem;
    margin-top: -2rem;
}

.card-white{
    height: 40rem;
    width: 30rem;
    background-color: white;
    border-radius: 0rem 7rem 0rem 7rem;
    /* display: flex; */
    /* flex: auto;
    flex-direction: column; */
    /* justify-content: center; */
    /* align-items: center; */
    text-align: center;
    padding: 2rem;
}

.card-white h6{
    font-size: 2rem;
    font-weight: 700;
    margin-bottom: 0rem;
    margin-top: 1rem;
}

.card-white div{
    width: 25.5rem;
    height: 25rem;
    border-radius: 0rem 5rem 0rem 0rem;
    margin-bottom: 0rem;
}

.image1{
    background-image: url(../images/phone.jpg);
    background-size: cover;
    background-position: center;
}

.image2{
    background-image: url(../images/laptop.jpg);
    background-size: cover;
    background-position-x: center;
}

.image3{
    background-image: url(../images/misc.jpg);
    background-size: cover;
    background-position-y: center;
}

.card-white p{
    font-size: 1.4rem;
}

.third button{
    background-color: rgb(255,255,255,0.4);
    font-weight: 700;
    font-size: 1.6rem;
    height: 5rem;
    width: 15rem;
    border-radius: 5rem;
    border: none;
    margin-bottom: 9.5rem;
}

.fourth{
    background-image: url(../images/bggradient.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0;
    width: 100vw;
    height: 100%;
    display: flex;
    flex: auto;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}

.left{
    float: left;
    display: flex;
    flex: auto;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    gap: 10rem;
    margin: 2rem 0rem 10rem 10rem;
}

.expert{
    font-weight: 400;
    font-size: 2rem;
}

.expert h2{
    font-weight: 400;
    font-size: 4rem;
}

.right{
    width: 60rem;
    height: 60rem;
    border-radius: 0rem 5rem 0rem 0rem;
    margin-bottom: 0rem;
    background-image: url(../images/support.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    margin: 10rem 10rem 10rem 0rem;
}

.locations{
    font-weight: 400;
    font-size: 1.5rem;
}

.locations h5{
    font-weight: 700;
    font-size: 2rem;
}
